# https://pyformat.info/

In [ ]:
#replace

In [ ]:
a = 'asdasdaanjdnajsndjanausjdas'

In [ ]:
a.replace('as','@@@@')

In [ ]:
nome = 'Miura'

In [ ]:
nome.upper()

In [ ]:
nome.lower()

In [ ]:
ord('á')

In [ ]:
ord('A')

In [ ]:
ord('B')

In [ ]:
chr(66)

In [ ]:
print(chr(300002))

In [ ]:
texto = "ALGO DE ERRАDO NÃO ESTÁ CERTO?!"

In [ ]:
print(texto)

In [ ]:
for letra in texto:
    print("A letra %s é o número %d" %(letra,ord(letra)))

# funções nativas do python

In [ ]:
print
range
enumerate
input
dir
help

In [ ]:
range(0,10,2)

In [ ]:
#declarando uma função

In [ ]:
def ola():
    print('Olá pessoas')

In [ ]:
ola()

In [ ]:
def ola2(nome):
    print('Olá %s' %(nome))

In [ ]:
ola2('Miura')

In [13]:
def pit(a,b):
    '''
    calcula a hipotenusa de triangulo
    retorna 3 valores os dois iniciais e o calculado
    '''
    c = ((a ** 2) + (b ** 2)) ** 0.5
    return a,b,c

In [8]:
a,b,c = pit(6,8)

In [9]:
print(a,b,c)

6 8 10.0

In [10]:
a

6

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [14]:
help(pit)

Help on function pit in module __main__:

pit(a, b)
    calcula a hipotenusa de triangulo
    retorna 3 valores os dois iniciais e o calculado

* argumentos que não são obrigatórios

In [18]:
v = [4,2,111,2241,221,23,0,12]

In [20]:
sorted(v)[::-1]

[2241, 221, 111, 23, 12, 4, 2, 0]

In [21]:
def ordena(v,ordem=1):
    return sorted(v)[::ordem]

In [24]:
ordena(v)

[0, 2, 4, 12, 23, 111, 221, 2241]

In [25]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [30]:
print('asjdajsdnsa',end='\n@\n')

asjdajsdnsa
@

## argumentos obrigatórios na frente dos argumentos opcionais

In [31]:
dir(ordena)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [33]:
xxxx = ordena

In [35]:
v = [ordena]

# como ver o código da função que foi criada

In [37]:
import inspect

In [41]:
print(inspect.getsource(pit))

def pit(a,b):
    '''
    calcula a hipotenusa de triangulo
    retorna 3 valores os dois iniciais e o calculado
    '''
    c = ((a ** 2) + (b ** 2)) ** 0.5
    return a,b,c

In [42]:
def pit(a,b):
    '''
    calcula a hipotenusa de triangulo
    retorna 3 valores os dois iniciais e o calculado
    '''
    c = ((a ** 2) + (b ** 2)) ** 0.5
    return a,b,c

# args

# kargs

In [43]:
def x(func,a,b):
    print(func(a,b))

In [44]:
x(pit,3,4)

(3, 4, 5.0)

In [ ]:
#args

In [62]:
def test1(*x):
    for i in x:
        print(i)
        print('_'*30)

In [63]:
test1(1,2,3,4,1,2,12,31)

1
______________________________
2
______________________________
3
______________________________
4
______________________________
1
______________________________
2
______________________________
12
______________________________
31
______________________________

* lista = []
* dicionário = {}
* tupla = ()

In [61]:
a = (1,2,3,4)

In [64]:
#kargs

In [68]:
def test2(**x):
    print(x['a'])
    return x

In [69]:
test2(a = 2, asw = 'ajsdjasjd')

2

{'a': 2, 'asw': 'ajsdjasjd'}